@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
#root{
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
}
.add-task{
    height: 10vh;
    width: 100vw;
}
.add-task form{
    height: 100%;
    width: 30%;
    margin:0px auto;
    padding: 10px;
}
.add-task form input{
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
}
.add-task form input[type=button]{
    cursor: pointer;
}
.add-task form input[type=button]:hover{
    background-color: azure;
}
.task-lists{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.task-lists .todo{
    height: 100%;
    width: 50%;
    border: 2px solid black;
}
.task-lists .finished{
    height: 100%;
    width: 50%;
    border: 2px solid black;
}
.task-lists ul li *{
    margin: 10px;
}
.task-lists .list-container{
    height: 70%;
    width: 60%;
    background-color: aquamarine;
    margin: 50px auto;
    border-radius: 5px
}
.title{
    background-color: teal;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}
.content{
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    font-size: 20px;
}
.content div{
    background-color: aqua;
    border-bottom: 2px solid black;
    padding: 6px 5px;
}
.content div span{
    margin: 0px 20px;
}
.content div span.material-icons{
    cursor: pointer; 
}
.content div span.material-icons:hover{
    color: white;
}