.navBar{
    border: 2px solid black;
    height: 55px;
    background-color: darkslategray;
}
.navbutton button{
    background-color: darkslategray;
    border: 0px;
    color: rgb(144, 145, 146);
    margin: 10px;
    border-radius: 3px;
}
.navbutton button:hover{
    color: azure;
    font-size: 20px;
    font-style: inherit;
}